<div class="homepage_container">
  <div class="header_strip">
    <ul>
      <li>
        <a routerLink="/core-config" routerLinkActive="active">
          Core Configs
        </a>
      </li>
      <li>
        <a routerLink="/features-list" routerLinkActive="active">
          Features list
        </a>
      </li>
      <li>
        <a routerLink="/manifest" routerLinkActive="active"> Manifest </a>
      </li>
      <li>
        <a routerLink="/icon-set" routerLinkActive="active"> Icon set </a>
      </li>
      <li>
        <a routerLink="/theme" routerLinkActive="active"> Theme </a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
