.header_strip {
  background-color: #ffe9ea;
  position: sticky;
  top: 80px;
  /* width: 100%; */
  height: 100%;
  padding: 6px;
  margin: 10px;
}
.header_strip ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  list-style: none;
  /* font-weight: bold; */
  text-transform: uppercase;
}
.header_strip ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header_strip ul li a:hover {
  text-decoration: underline;
  color: #ee3238d8;
}
.header_strip ul li a.active {
  color: #ed1c24;
}
