<div class="core_config_container">
  <div class="container border px-2 pt-5">
    <form
      class="form-group"
      [formGroup]="configForm"
      (ngSubmit)="handleSubmitForm(configForm.value)"
    >
      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0 imp">App Name</label>
        <input
          type="text"
          name="App Name"
          id="app-name"
          formControlName="APP_NAME"
          placeholder="App name..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>
      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_TITLE"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-logo" class="col-md-4 p-0">App Logo</label>
        <input
          type="text"
          name="App Logo"
          id="app-logo"
          formControlName="APP_LOGO"
          placeholder="App logo..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_LOGO'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-icon" class="col-md-4 p-0">App Icon</label>
        <input
          type="text"
          name="App Icon"
          id="app-icon"
          formControlName="APP_ICON"
          placeholder="App icon..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_ICON'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-currency" class="col-md-4 p-0">App Currency</label>
        <input
          type="text"
          name="App Currency"
          id="app-currency"
          formControlName="DEFAULT_CURRENCY"
          placeholder="Default currency..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['DEFAULT_CURRENCY'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="col-12 row m-0 input-group my-3">
        <label for="app-title" class="col-md-4 p-0">App Title</label>
        <input
          type="text"
          name="App Title"
          id="app-title"
          formControlName="APP_NAME"
          placeholder="App title..."
          class="col-md-6 form-control"
          [ngClass]="{ invalid: submitted && f['APP_NAME'].errors }"
        />
      </div>

      <div class="submit_btn w-100 d-flex justify-content-center my-5">
        <button type="submit" class="btn btn-success m-2">Save</button>
        <button
          (click)="handleDownloadConfig(configForm.value)"
          class="btn btn-outline-danger m-2 download_btn"
        >
          Download
        </button>
      </div>
    </form>
  </div>
</div>
